body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 550px;
        padding-left: 20px;
        max-width: 630px;
        border-radius: 30px;
}
h1 {
    color: black;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
}

ul {
    margin: 0 0 20px;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 135, 135);
}

a:link {
    text-decoration: none;
}
 
li {
    color: rgb(135, 135, 135);
    font-size: 16px;
    height: 19px;
    font-weight: 100;
    line-height: 1;
    list-style: none;
}

.weather-app-wrapper {
    max-width: 620px;
    margin: 30px auto;
    padding-top: 35px;
}
.weather-app {
    border: 1px solid #60bbcd;
    padding: 20px;
    margin: 30px auto;
    border-radius: 15px;
    max-width: 650px;
}

.weather-icon {
    height: 64px;
    width: 64px;
}

.temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}
.temperature strong {
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.temperature .active {
    color: rgb(33, 33, 33);

}

.img{
margin-right: 15px;
height:55px;
width: 55px;
}

.units {
    position: relative;
    top: -35px; 
    /* bottom: 10px; */
    font-size: 16px;
}

.search-form {
    margin-bottom: 22px;
}

.week-forecast {
    background-color: #77c1cb;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* margin: 2px 0 6px 15px; */
    /* height: 130px; */
    padding: 20px 10px ;
    /* width: 580px; */
    /* max-width: 500px; */
    text-align: center;
    color: black;
    width: 100%;
}

.weather-forecast-date {
    font-size: 15px;
}

.weather-forecast-temperature-min {
    opacity: 0.6;
}
.weather-forecast-temperatures{
    font-size: 13px;
}
#description {
    text-transform: capitalize;
}

.attribution {
    text-align: center;
}